@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/* DEBUG */
/*	*:nth-child(even) {
		@apply bg-green-600;
	  }
  
	  *:nth-child(odd) {
		@apply bg-green-100;
	  }*/
	  /*               */

	  
	@font-face {
		font-family: 'custom';
		src: url("/fonts/custom.ttf") format('opentype');
	}

	@font-face {
		font-family: 'deadCRT';
		src: url("/fonts/DEADCRT.ttf") format('opentype');
	}
	
	@font-face {
		font-family: 'kongtext';
		src: url("/fonts/kongtext.ttf") format('opentype');
	}

	h1 {
		@apply block font-kongtext text-3xl md:text-4xl lg:text-6xl text-normal-gray p-5;
		filter:url('#rgb-split');
	  }
	  
	  h2 {
		@apply text-5xl p-2
	  }

	  p {
		@apply block font-kongtext text-3xl md:text-4xl lg:text-6xl text-normal-gray p-5
	  }

	  container {
		@apply static
	  }

	div_text_row {
		@apply w-full h-screen flex items-center justify-center gap-10
	}

	.hover_text {
		@apply not-italic text-highlight-gray
	
	}

	  /* width */
	::-webkit-scrollbar {
	    width: 10px;
	}
	
	/* Track */
	::-webkit-scrollbar-track {
	    background: #f1f1f1;
	}
	
	/* Handle */
	::-webkit-scrollbar-thumb {
	    background: #888;
	    border-radius: 5px;
	}
	
	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
	    background: #555;
	}

}

@layer components {
	.hover_text {
	  &:hover {
		@apply cursor-pointer text-white;
	  }

	  &:hover .hover_image {
		@apply block; /* Display the image when the text is hovered */
	  }
	}
  
	.hover_image {
	  @apply hidden absolute; /* Initially hide the image */
	 
	}
  
  }
  