@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/* DEBUG */
/*	*:nth-child(even) {
		@apply bg-green-600;
	  }
  
	  *:nth-child(odd) {
		@apply bg-green-100;
	  }*/
	  /*               */

	  
	@font-face {
		font-family: 'custom';
		src: url("/fonts/custom.ttf") format('opentype');
	}

	@font-face {
		font-family: 'deadCRT';
		src: url("/fonts/DEADCRT.ttf") format('opentype');
	}
	
	@font-face {
		font-family: 'kongtext';
		src: url("/fonts/kongtext.ttf") format('opentype');
	}

	h1 {
		@apply block font-kongtext text-3xl md:text-4xl lg:text-6xl text-normal-gray p-5 uppercase;
	  }
	  
	  h2 {
		@apply text-5xl p-2
	  }

	  p {
		@apply block font-kongtext text-3xl md:text-4xl lg:text-6xl text-normal-gray p-5
	  }

	  body,
		html,
		li,
		ul {
			margin: 0;
			padding: 0
		}
	
		body {
			scroll-behavior: smooth;
			text-rendering: optimizeSpeed
		}

		a:not([class]) {
			-webkit-text-decoration-skip: ink;
			text-decoration-skip-ink: auto
		}

	.hover-text {
		@apply not-italic text-highlight-gray
	
	}

	.color-separation {
		filter:url('#rgb-split');
	}

	.color-separation > img {
		filter: none;
	}

	.tv-screen {
		animation: turn-on-transform .4s, turn-on-filter 1s
	}

	  /* width */
	::-webkit-scrollbar {
	    width: 10px;
	}
	
	/* Track */
	::-webkit-scrollbar-track {
	    background: #f1f1f1;
	}
	
	/* Handle */
	::-webkit-scrollbar-thumb {
	    background: #888;
	    border-radius: 5px;
	}
	
	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
	    background: #555;
	}

}

@layer components {
	.hover-text {
	  &:hover {
		@apply cursor-pointer text-white;
	  }
	}
  
	.hover-image {
		@apply fixed bg-white p-2 rounded shadow-md invisible z-10 lg:max-w-96 md:max-w-48 block mt-10 mr-20 right-0;
	}

	.footer-link-class {
		&:hover {
			@apply text-gray-300
		}

		&:active {
			@apply text-red-100
		}
	}
  }
  